<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Quiz App</title>

</head>    

<body class="background mt-5 mb-5">
    <center>
        <p>Instructions:<br>
            1. Quiz consists of 10 questions.<br>
            2. Each Question carries 5 marks.<br>

        </p>
            <div class="quiz1"><button class="btn"><a href="quiz">Start Quiz</a></button></div>
    </center>
        
</body>

</html>